body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    padding: 20px;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #f1f1f1;
}

#clear {
    grid-column: span 2;
    background-color: #ff6666;
    color: #fff;
}

#equal {
    grid-column: span 2;
    background-color: #4caf50;
    color: #fff;
}
